.body{
  background-image: url('https://image.slidesharecdn.com/d2-15-zebra-180315113249/95/zebra-medical-vision-noah18-tel-aviv-5-638.jpg?cb=1521113650%27');
  background-size: cover;
  background-repeat: no-repeat;
  height: 75%;
  font-family: 'Numans', sans-serif;
  }
