body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
}

.box {
  background-color: rgb(255, 255, 255, 0.1);
  width: 600px;
  padding: 40;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-color: #3c5d80;
  border-radius: 4px;
  border: none;
}

h1 {
  margin: 30px;
  color: white;
}

.box input[type='text'] {
  height: 40px;
  margin: 0 10px 20px;
  padding: 0 20px;
  font-size: 10pt;
  font-weight: normal;
  border-radius: 4px;
  border: none;
  width: 500px;
}

.box input[type='date'] {
  height: 40px;
  margin: 0 10px 20px;
  padding: 0 20px;
  font-size: 10pt;
  font-weight: normal;
  border-radius: 4px;
  border: none;
  width: 500px;
}

select {
  height: 40px;
  margin: 0 10px 20px;
  padding: 0 20px;
  font-size: 10pt;
  font-weight: normal;
  border-radius: 4px;
  border: none;
  width: 500px;
}

.box input[type='date'] {
  height: 40px;
  margin: 0 10px 20px;
  padding: 0 20px;
  font-size: 10pt;
  font-weight: normal;
  border-radius: 4px;
  border: none;
  width: 500px;
}

.box input[type='file'] {
  display: none;
  margin: 0;
}

.box input[type='submit'] {
  height: 40px;
  margin: 0 10px 20px;
  padding: 0 20px;
  font-size: 13pt;
  border-radius: 4px;
  border: none;
  width: 500px;
}

.add-patient {
  background-color: #7da5c7;
  color: white;
}
